<div class="col-sm-4 scrollpoint sp-effect1">
  <div class="blog-post">
      <div class="blog-body">
        <h3>{{ .Title}}</h3>
          <p>{{ .Summary }}</p>
          <a href="{{ .Permalink }}" class="btn btn-primary">Read More</a>
        </div>
        <div class="blog-info">
          <a><i class="fa fa-comment"></i> 352</a>
            <a><i class="fa fa-calendar"></i> {{ .Date.Format "2/1/2006" }}</a>
            <a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>
